<h3>
    Task 1 <br> <br>
    Given a sequence of n values [x1, x2... xn]. The kth moving avarge of given sequence is defined as following:
    Total values in output will array of size n - k + 1
    Every individual output value will be (sum of first kth values)/k
    For next value, it will increment to next element (sum of kth values from 2nd value)/k
    </h3>

In [44]:
import numpy as np
n = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
k = 4
npArray1 = np.array(n)

In [45]:
def movingAverage(array1, AverageSize):
    size = array1.shape[0]-AverageSize
    emptyArray1 = np.empty(size)
    
    for i in range(size):
        emptyArray1[i] = npArray1[i:i+AverageSize].sum()
    return emptyArray1

In [46]:
movingAverage(npArray1, k)

array([100., 140., 180., 220., 260., 300.])

In [48]:
print('Output for testing purpose: ')
npArray12 = np.array([3,5,7,2,8,10,11,65,72,81,99,100,150])
movingAverage(npArray12, 3)

Output for testing purpose:

array([ 60.,  90., 120., 150., 180., 210., 240., 270., 190., 100.])

<h3>
Task 2 - 1 <br> <br>
How to count distance to the previous zero
For each value, count the difference back to the previous zero (or start of the index, whichever is closer)    
</h3>

In [1]:
import pandas as pd

In [17]:
x = pd.DataFrame({"X": [7,2,0,3,4,2,5,0,3,4]})
x.shape

(10, 1)

In [19]:
temp = 0
x['Y'] = 0

for k in x.index:
    if x['X'].loc[k]==0:
        x['Y'].loc[k] = 0
        temp = k
    else:
        x['Y'].loc[k] = k - temp

print("Input column is X and output or nearest zero is in Y column")
x

Input column is X and output or nearest zero is in Y column

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

<h3>
Task 2 - 2 <br> <br>
    Create a date time index that contains each business day of 2015 and use it to index a Series of random numbers.
</h3>

In [220]:
import pandas as pd
import numpy as np

In [221]:
varSeries = pd.DataFrame()
varNoOfDays = np.arange(0,365,1)
temp = pd.to_datetime(varNoOfDays, unit='d', origin = pd.Timestamp('01/Jan/2015'))
varSeries['DateTime'] = temp
varSeries['Month'] = temp.month
varSeries['Quarter'] = temp.quarter
varSeries['NOofDays'] = varNoOfDays

In [222]:
varSeries['IsBusinessday'] = temp.weekday.values
varSeries2 = varSeries[(varSeries.IsBusinessday != 6) & (varSeries.IsBusinessday != 5)]

In [223]:
varSeries2.rename(index=str, columns={'NOofDays': 'RandomNo'}, inplace=True)
varSeries2.set_index('DateTime',inplace=True)
varSeries2['RandomNo'] = np.random.randint(1,999,size=varSeries2.shape[0]) 
varSeries2.describe

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<bound method NDFrame.describe of             Month  Quarter  RandomNo  IsBusinessday
DateTime
2015-01-01      1        1       617              3
2015-01-02      1        1        13              4
2015-01-05      1        1        28              0
2015-01-06      1        1       373              1
2015-01-07      1        1       610              2
2015-01-08      1        1       852              3
2015-01-09      1        1       397              4
2015-01-12      1        1       908              0
2015-01-13      1        1       153              1
2015-01-14      1        1       108              2
2015-01-15      1        1       828              3
2015-01-16      1        1       209              4
2015-01-19      1        1       765              0
2015-01-20      1        1       713              1
2015-01-21      1        1       739              2
2015-01-22      1        1       762              3
2015-01-23      1        1       214              4
2015-01-26      1        1       245              0
2015-01-27      1        1       726              1
2015-01-28      1        1       622              2
2015-01-29      1        1       920              3
2015-01-30      1        1        49              4
2015-02-02      2        1       405              0
2015-02-03      2        1       264              1
2015-02-04      2        1       348              2
2015-02-05      2        1       176              3
2015-02-06      2        1       539              4
2015-02-09      2        1       222              0
2015-02-10      2        1       927              1
2015-02-11      2        1       706              2
...           ...      ...       ...            ...
2015-11-20     11        4       726              4
2015-11-23     11        4       108              0
2015-11-24     11        4       310              1
2015-11-25     11        4       801              2
2015-11-26     11        4       656              3
2015-11-27     11        4       556              4
2015-11-30     11        4       744              0
2015-12-01     12        4       723              1
2015-12-02     12        4       994              2
2015-12-03     12        4       334              3
2015-12-04     12        4       604              4
2015-12-07     12        4       375              0
2015-12-08     12        4       980              1
2015-12-09     12        4       515              2
2015-12-10     12        4       522              3
2015-12-11     12        4       601              4
2015-12-14     12        4       269              0
2015-12-15     12        4         4              1
2015-12-16     12        4        99              2
2015-12-17     12        4       233              3
2015-12-18     12        4       795              4
2015-12-21     12        4        29              0
2015-12-22     12        4       758              1
2015-12-23     12        4       937              2
2015-12-24     12        4       303              3
2015-12-25     12        4       874              4
2015-12-28     12        4       970              0
2015-12-29     12        4       604              1
2015-12-30     12        4        89              2
2015-12-31     12        4       794              3

[261 rows x 4 columns]>

<h3>
 Task 2 - 3 <br>
    Find sum of the values in series for every 'Wednesday
</h3>

In [190]:
wedSum = varSeries2[varSeries2.IsBusinessday == 2].RandomNo.sum()
wedSum

25280

<h3>
Task 2 - 4 <br>
    Average for each calendar month
</h3>

In [216]:
for i in varSeries2.Month.unique():
    print('Sum of random values in a {}th month is {}'.format(i,varSeries2[varSeries2.Month == i].RandomNo.sum()))

Sum of random values in a 1th month is 14097
Sum of random values in a 2th month is 11472
Sum of random values in a 3th month is 13349
Sum of random values in a 4th month is 10497
Sum of random values in a 5th month is 12434
Sum of random values in a 6th month is 10565
Sum of random values in a 7th month is 14159
Sum of random values in a 8th month is 11994
Sum of random values in a 9th month is 9923
Sum of random values in a 10th month is 10043
Sum of random values in a 11th month is 12743
Sum of random values in a 12th month is 11070

<h3>
    Task 2 - 5
    For each group of four consecutive calendar months in series, find the date on which the highest value occured
</h3>

In [217]:
for i in varSeries2.Quarter.unique():
    print('Sum of random values in a {}th Quarter is {}'.format(i,varSeries2[varSeries2.Quarter == i].RandomNo.sum()))

Sum of random values in a 1th Quarter is 38918
Sum of random values in a 2th Quarter is 33496
Sum of random values in a 3th Quarter is 36076
Sum of random values in a 4th Quarter is 33856